<main class="income page-container container-fluid position-relative">


    <div class="title" id="editCreatingCategoryTitle"></div>
    <form class="information">
        <div class="mb-3">
            <input type="text" class="form-control" id="categoryInput" placeholder="Название...">
            <div class="invalid-feedback mb-2 fw-normal" id="categoryFeedback">
                Категория не задана
            </div>
        </div>
        <button type="button" class="btn btn-success" id="confirmEditCreating">Создать</button>
        <button type="button" class="btn btn-danger" id="cancel">Отмена</button>

    </form>




</main>