*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Roboto";
    font-weight: normal;
    src: url("../static/fonts/Roboto-Regular.ttf");
}

@font-face{
    font-family: "Roboto";
    font-weight: 500;
    src: url("../static/fonts/Roboto-Medium.ttf");
}

@font-face{
    font-family: "Roboto";
    font-weight: bold;
    src: url("../static/fonts/Roboto-Bold.ttf");
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: #fff;
    height: 100vh;
    color: #000;

}

.title {
    font-size: 40px;
    line-height: 40px;
}

.logo-box {
    padding-bottom: 60px;
    width: 171px;


}

.login-register-page {
   min-width: 397px;
}


    .login-register-form {

        .input-group-text {
            background-color:  #e9ecef;
        }
        .form-control {
            font-size: 15px;
            line-height: 160%;
        }

        .form-control::placeholder {
            font-weight: normal;
            font-size: 15px;
            line-height: 160%;
            color: #6c757d;
        }

        .form-check-label {
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #000;
        }

        .btn {
            font-size: 15px;
            height: 38px;
            border-radius: 5px;
        }

        .form-link {
            font-size: 12px;
            line-height: 140%;
            font-weight: normal;
            padding-top: 10px;
        }


    }

